# docker-compose-debug.yml
# configs/monet.cfg

# Byte-compiled / optimized / DLL files
__pycache__/

.venv/
.DS_Store

git.lock
keycloak.json
configs/monet.cfg
sessions/*options.tcl.lock
sessions/*Tree.tcl.lock
profiler/
run_monet.sh
.vscode/tasks.json
MonetRobotCertificate.pem
MonetRobotKey.pem
MonetRobotCertificate.p12
dirac.cfg
dqdb/database/dqdb.db
alarmsdb/
hist/
config_unicorn_local.py
# presenter/static/javascripts/gen/
# presenter/static/stylesheets/gen/packed_common.css
# presenter/static/stylesheets/gen/packed_history_dq.css
# presenter/static/stylesheets/gen/packed_layout.css
# presenter/static/stylesheets/gen/packed_online_dq.css
# presenter/static/stylesheets/gen/packed_offline_dq.css
# presenter/static/stylesheets/gen/packed_sim_dq.css
# presenter/static/stylesheets/gen/packed_trend_dq.css
presenter/static/.webassets-cache
sessions/*.tcl
.vscode/settings.json

node_modules/
package-lock.json
package.json
eslint.config.mjs
